run = "npm run dev"
entrypoint = "package.json"
hidden = [".config", ".next", "node_modules"]
modules = ["nodejs-22", "python3"]

[nix]
channel = "stable-24_11"

[deployment]
build = ["sh", "-c", "npm run build && python3 -m pip install -r scripts/requirements-hwp.txt"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
